<% if (error) { %>
<div class="alerts error" id="error">
  <p><%= error %></p>
</div>
<% } %>
<% if (success) { %>
  <div class="alerts success" id="success">
    <p><%= success %></p>
  </div>
<% } %>