<footer class="footer">
  <div class="container">
    <a href="/" class="title">Panamá Turistica</a>
    <ul class="list">
      <li>
        <a href="/foods">Comidas</a>
      </li>
      <li>
        <a href="/hotles">Hoteles</a>
      </li>
      <li>
        <a href="/provinces">Provincias</a>
      </li>
      <li>
        <a href="gallery">Galería</a>
      </li>
    </ul>
    <ul class="social_networks">
      <li class="social_network">
        <a href="#"><i class="uil uil-facebook-f"></i></a>
      </li>
      <li class="social_network">
        <a href="#"><i class="uil uil-instagram"></i></a>
      </li>
      <li class="social_network">
        <a href="#"><i class="uil uil-twitter"></i></a>
      </li>
      <li class="social_network">
        <a href="#"><i class="uil uil-github"></i></a>
      </li>
    </ul>
    <ul class="contacts">
      <li class="contact"><i class="uil uil-whatsapp"></i> +507 6489-2454</li>
      <li class="contact"><i class="uil uil-phone"></i> +507 335-8952</li>
    </ul>
  </div>
  <div class="webmasters">
    <p>by Evert Pernia, Sevillo Almillategui © Todos los derechos reservados</p>
  </div>
</footer>
