<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <section class="section foods">
        <h4>Comidas típicas de Panamá</h4>
        <div class="container">
          <div class="food">
            <div class="img">
              <img src="./img/sancocho.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Sancocho</h6>
              <br />
              <p>
                Es una sopa de gallina preparada con ñame, culantro, cebolla y
                orégano.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/ropa_vieja.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Ropa vieja</h6>
              <br />
              <p>
                Esta hecho con falda de vaca, es un plato de carne desmenuzada y
                es uno de los almuerzos más populares de la cocina panameña.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/mondongo.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Mondongo</h6>
              <br />
              <p>
                Es una de las sopas más populares de la región. Es una sopa de
                res, para su preparación se utilizan tripas de la vaca (o cerdo
                dependiendo de la región).
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/guacho.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Guacho</h6>
              <br />
              <p>
                Se trata de un popular plato de arroz asopado que se cuece en un
                caldo con algún ingrediente especial.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/acf.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Arroz con frijoles</h6>
              <br />
              <p>
                Es un platillo que puedes probrar en cualquier parte del país.
                Se trata de uno de los platos más preparados en la comida típica
                panameña.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/carimañolas.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Carimañolas</h6>
              <br />
              <p>
                Se trata de un pastel de yuca relleno con distintos tipos de
                carnes y que forma parte de la cocina tradicional panameña.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/tamal.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Tamales</h6>
              <br />
              <p>
                Los tamales son un plato muy común en la gastronomía de la
                región. Se prepara con harina a base de maíz y según la región
                de Panamá en la que decidas probrarlo, vendrá con un relleno
                distinto.
              </p>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/acg.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Arroz con Guandú</h6>
              <br />
              <p>
                Es un plato popular de la gastronomía panameña. Se prepara de
                una forma muy sencilla y el guandú fresco suelta un aroma muy
                peculiar que transfiere un rico sabor.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section
        style="border-top: 2px solid rgb(208, 211, 212)"
        class="section foods"
      >
        <h4>Otras comidas</h4>
        <div class="container">
          <div class="food">
            <div class="img">
              <img src="./img/hamburguesa.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Hamburguesa</h6>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/hot_dog.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Hot dog (Perro caliente)</h6>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/salchipapa.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Salchipapa</h6>
            </div>
          </div>
          <div class="food">
            <div class="img">
              <img src="./img/pizza.jpg" alt="" />
            </div>
            <div class="p">
              <h6>Pizza</h6>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
