<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <section class="section gallery">
        <div class="container">
          <div class="img">
            <img src="./img/bocas.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/chiriqui.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/sancocho.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/hamburguesa.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/los_santos.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/grand.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/guna.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/embera.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/crowne.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/hard_rock.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/madugandi.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/nocotel.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/cocle.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/hot_dog.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/panama_capital.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/naso.jpeg" alt="" />
          </div>
          <div class="img">
            <img src="./img/text.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/herrera.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/canal.jpg" alt="" />
          </div>
          <div class="img">
            <img src="./img/acg.jpg" alt="" />
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
