<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <section class="section provinces">
        <h4>Provincias de Panamá</h4>
        <div class="container">
          <div class="province">
            <div class="img">
              <img src="./img/bocas.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Bocas del Toro</li>
                <li><span> Capital: </span> Bocas del Toro</li>
                <li><span>Población: </span> 161,845</li>
                <li><span> Superficie: </span> 3037.74 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/cocle.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Coclé</li>
                <li><span> Capital: </span> Penonomé</li>
                <li><span>Población: </span> 260,292</li>
                <li><span> Superficie: </span> 4927 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/colon.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Colón</li>
                <li><span> Capital: </span> Colón</li>
                <li><span>Población: </span> 282,579</li>
                <li><span> Superficie: </span> 4868.4 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/chiriqui.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> chiriquí</li>
                <li><span> Capital: </span> David</li>
                <li><span>Población: </span> 456,482</li>
                <li><span> Superficie: </span> 6548 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/darien.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Darién</li>
                <li><span> Capital: </span> La Palma</li>
                <li><span>Población: </span> 55,346</li>
                <li><span> Superficie: </span> 11896.5 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/herrera.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Herrera</li>
                <li><span> Capital: </span> Chitré</li>
                <li><span>Población: </span> 118,959</li>
                <li><span> Superficie: </span> 2340.7 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/los_santos.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Los Santos</li>
                <li><span> Capital: </span> Las Tablas</li>
                <li><span>Población: </span> 95,794</li>
                <li><span> Superficie: </span> 3809.4 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/panama_capital.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Panamá</li>
                <li><span> Capital: </span> Ciudad de Panamá</li>
                <li><span>Población: </span> 1,7173,070</li>
                <li><span> Superficie: </span> 8763 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/veraguas.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Veraguas</li>
                <li><span> Capital: </span> Santiago</li>
                <li><span>Población: </span> 246,280</li>
                <li><span> Superficie: </span> 10629.6 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/panama_oeste.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Panamá Oeste</li>
                <li><span> Capital: </span> La Chorrera</li>
                <li><span>Población: </span> 567,886</li>
                <li><span> Superficie: </span> 3123.8 km²</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section
        style="border-top: 2px solid rgb(208, 211, 212)"
        class="section provinces"
      >
        <h4>Comarcas Indígenas</h4>
        <div class="container">
          <div class="province">
            <div class="img">
              <img src="./img/embera.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Emeberá-Wounaan</li>
                <li><span> Capital: </span> Unión Chocó</li>
                <li><span>Población: </span> 11,429</li>
                <li><span> Superficie: </span> 4383.5 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/guna.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Guna Yala</li>
                <li><span> Capital: </span> Gaigirgordub</li>
                <li><span>Población: </span> 43,503</li>
                <li><span> Superficie: </span> 2340.7 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/naso.jpeg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Naso Tjër Di</li>
                <li><span> Capital: </span> Sieyic</li>
                <li><span>Población: </span> 5000</li>
                <li><span> Superficie: </span> 1606.1 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/ngobe.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Ngöbe-Buglé</li>
                <li><span> Capital: </span> Llano Tugrí</li>
                <li><span>Población: </span> 204,258</li>
                <li><span> Superficie: </span> 6968.0 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/madugandi.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Guna de Madugandi</li>
                <li><span> Capital: </span> Akua Yala</li>
                <li><span>Población: </span> 4271</li>
                <li><span> Superficie: </span> 2319 km²</li>
              </ul>
            </div>
          </div>
          <div class="province">
            <div class="img">
              <img src="./img/wargandi.jpg" alt="" />
            </div>
            <div class="info">
              <ul>
                <li><span> Nombre: </span> Guna de Wargandi</li>
                <li><span> Capital: </span> Mortí</li>
                <li><span>Población: </span> 1914</li>
                <li><span> Superficie: </span> 775 km²</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
